{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="jumbotron">
            <h2>Find Your TA</h2>
        </div>

        <div class="footnotes">

            <table class=table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>GPA</th>
                    <th>Grade in Class</th>
                    <th>Email Address</th>
                    <th>Resume</th>
                    <th>Notify for Interview</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope=row>1</th>
                    <td>Jane Doe</td>
                    <td>4.0</td>
                    <td>A</td>
                    <td>jdoe@buffalo.edu</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Download</button>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope=row>2</th>
                    <td>John Smith</td>
                    <td>3.8</td>
                    <td>A-</td>
                    <td>js@buffalo.edu</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Download</button>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope=row>3</th>
                    <td>Example name</td>
                    <td>3.3</td>
                    <td>C</td>
                    <td>ex1@buffalo.edu</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Download</button>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope=row>3</th>
                    <td>Example name</td>
                    <td>3.0</td>
                    <td>C</td>
                    <td>ex1@buffalo.edu</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Download</button>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope=row>3</th>
                    <td>Example name</td>
                    <td>3.1</td>
                    <td>C</td>
                    <td>ex1@buffalo.edu</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Download</button>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope=row>3</th>
                    <td>Example name</td>
                    <td>3.6</td>
                    <td>C</td>
                    <td>ex1@buffalo.edu</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Download</button>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope=row>3</th>
                    <td>Example name</td>
                    <td>&lt; 3.0</td>
                    <td>C</td>
                    <td>ex1@buffalo.edu</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Download</button>
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" >
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope=row></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                         <button type="button" class="btn btn-primary">Notify Applicants</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}