{% extends 'base.html' %}

{% block content %}

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div class="page-header">
        <div class="jumbotron">
            <h2 class="text-center">Welcome to TA Logistics </h2>
            <h4 class="text-center">The TA Hiring app of the future</h4>
        </div>
        <div class="container">
            <h3 class="text-center">Login with Google!</h3>
            <div class="center-block">
                <div class="g-signin2" data-onsuccess="onSignIn;sendToken;"></div>
            </div>
        </div>
    </div>

{% endblock %}
